.flex-container {
  border: 1px solid black;
  display: flex;
  margin: auto;
  width: 98%;
  flex-direction: column;
  justify-content: center;
}

h1 {
  align-self: center;
}

.game-info {
  width: 60%;
  align-self: center;
  text-align: center;
}

#start-game-btn {
  width: 60px;
  height: 60px;
  align-self: center;
  margin: 20px 0 20px 0;
  border-radius: 50%;
  border: 2px solid rgb(134, 128, 128);
  box-shadow: 5px 5px 12px 5px #888888;
}

.display-hand-boxes, .form-word-boxes {
  margin: 10px auto 10px auto;
  padding-left: 5px;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
  justify-content: space-evenly;
  max-width: 400px;
  height: auto;
}
.hand-box, .word-box {
  position: relative;
  padding: 0 0 5px 12px;
  font-size: 1.2em;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: left;
  font-family: 'Potta One', cursive;
  font-weight: 300;
  width: 45px;
  height: 45px;
}

sub {
  position: absolute;
  top: 25px;
  right: 1px;
  font-size: 0.7em;
}

#check-user-input {
  align-self: center;
  margin: 10px 0 10px 0;
}

.game-field {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
}